<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".AdminApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_admin_launcher"
        android:label="ZeroChill Admin"
        android:roundIcon="@mipmap/ic_admin_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.CrazyShitAdmin">
        <activity
            android:name=".AnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackThreadActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
